.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #1ab9e5;
    border-radius: 5px;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #1ae835;
    cursor: pointer;
}

button:hover {
    background-color: #d2f10c;
}
